VITE_API_HOST = http://localhost:8080

SPRING_PROFILES_ACTIVE=dev

FRONTEND_URL=http://localhost:5173

DB_NAME=sportspace_db
DB_URL=jdbc:postgresql://db:5432/sportspace_db
DB_USERNAME=#<ADD>
DB_PASSWORD=#<ADD>

JWT_SECRET=#<ADD>
JWT_EXPIRATION=60

SLOT_LENGTH=30

#Optional
MAIL_HOST=#<ADD>
MAIL_PORT=#<ADD>
MAIL_USERNAME=#<ADD>
MAIL_PASSWORD=#<ADD>
MAIL_PROTOCOL=#smtp
MAIL_PROPERTIES_MAIL_SMTP_AUTH=#true
MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLED=#true

LOGGING_FILENAME=logs/logs.log